# Exclure les fichiers compilés et caches Python
__pycache__
*.py[cod]
*$py.class

# Exclure les environnements virtuels
venv/
.env/
ENV/

# Exclure les fichiers de configuration Git
.git
.gitignore

# Exclure les dossiers de tests (si tu ne veux pas les inclure dans l'image)
tests/

# Exclure les dossiers de build et distribution
build/
dist/
*.egg-info

# Exclure les fichiers dans out/
out/defect_history.json
output.json
code_metrics.json
delta_metrics.json
process_metrics.json
defect_history.json

